<template>
    <tr>
        <td>
            {{ branch.name }}
        </td>
        <td :colspan="!inDevelopment && !isMaster ? 1 : 2">
                               <span class="tag"
                                     :class="inDevelopment ? 'is-dev' : 'is-pushed'"
                                     v-if="!isMaster">
                                    {{ inDevelopment ? 'In Development' : 'Pushed to Master' }}
                            </span>
            <span class="tag is-master" v-if="isMaster">
                                N/A
                            </span>
        </td>
        <td v-if="!inDevelopment && !isMaster">
            <div class="commit-details">
                <div class="image">
                    <a
                        target="_blank"
                        :href="pushedToMaster.committer.html_url">
                        <img
                            class="logo"
                            :src="pushedToMaster.committer.avatar_url"
                            :alt="pushedToMaster.committer.login"
                            :title="pushedToMaster.committer.login"
                        />
                    </a>
                </div>
                <div class="info">
                    <p class="committer">
                        Last commit by <a
                        target="_blank"
                        :href="pushedToMaster.committer.html_url"
                    >{{ pushedToMaster.committer.login }}</a></p>
                    <p class="message">
                        "{{ pushedToMaster.commit.message }}"
                    </p>
                    <p class="when">
                        {{ pushedToMaster.commit.committer.date }}
                    </p>
                </div>
            </div>
        </td>
    </tr>
</template>
<script>
    export default {
        props: {
            commits: {
                type: Array,
                default(){
                    return []
                }
            },
            isMaster: {
                type: Boolean,
                default(){
                    return false
                }
            },
            masterSha: {
                type: String,
                default(){
                    return null
                }
            },
            branch: {
                type: Object,
                default(){
                    return {}
                }
            }
        },
        computed: {
            inDevelopment(){
              return this.pushedToMaster === null || !this.isSameShaAsMaster && !this.isMaster;
            },
            isSameShaAsMaster(){
                // if a repo shares the sha1 as the master repo, then it is simply a new branch and not a commit
                return this.masterSha === this.branch.commit.sha;
            },
            pushedToMaster(){
                let vm = this;

                for (let i = 0; i < vm.commits.length; i++) {
                    let commit = vm.commits[i],
                        sha = commit.sha;

                    if (vm.branch.commit.sha === sha) {
                        return commit;
                    }
                }

                return null;
            }
        }
    }
</script>

