<template>
    <div id="loader">
        <lottie :options="{animationData: $store.state.loader.default }"/>
    </div>
</template>
<script>

    import Lottie from "vue-lottie";

    export default {
     components: {
         Lottie
     }
    }
</script>
