<template>
    <div id="user">
        <img
            class="logo"
            :src="$store.state.avatar"
            :alt="$store.state.name"
            :title="$store.state.name"
        />
        <h4 class="name">{{ $store.state.name }}</h4>
        <h5 class="nickname">{{ $store.state.nickname }}</h5>
    </div>
</template>

