<template>
    <div class="single-wrapper">

        <h1 class="text-2xl mb-4">
            404: Page not Found
        </h1>
        <p>
            Sorry we can't seem to find that page.
        </p>
    </div>
</template>

