<template>

        <div class="flex flex-wrap">
            <div class="lg:w-1/4 w-full">
                <sidebar/>
            </div>
            <div class="lg:w-3/4 w-full">
                <h4 class="text-2xl mb-4">Your Repositories</h4>
                <table>
                    <tr class="repository-item" v-bind:key="repo.id" v-for="repo in $store.state.repos">
                        <td>
                            <repo class="mt-4" :repo="repo" />
                        </td>
                        <td>
                            <router-link
                                :to="'/repository/' + repo.full_name"
                                class="button">
                                View Repository
                            </router-link>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

</template>

<script>
    import store from './../core/store';
    import Repo from './incs/RepoDetails.vue';

    export default {
        components: {
            Repo
        },
        beforeRouteEnter (to, from, next) {

            store.state.repos = [];

            store.dispatch('getRepositories', {
                user: store.state.nickname
            })
                .then((response) => {
                    next(function (vm) {
                        vm.$store.state.repos = response.data;
                    });
                })
                .catch((response) => {
                    store.dispatch('handleRouteError', response);
                });

        }
    }
</script>
