<template>

        <div class="flex flex-wrap">
            <div class="lg:w-1/4 w-full">
                <sidebar/>
            </div>
            <div class="lg:w-3/4 w-full">

                <div class="repository-item">
                    <repo :repo="repository" v-if="repository !== null"/>
                </div>


                <loader v-if="fetchingCommitsAndBranches" />

                <table class="table mt-4" v-if="branches.length > 0 && !fetchingCommitsAndBranches">
                    <thead>
                    <tr>
                        <th>Branch</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                    </thead>
                    <tbody>
                        <branch-row
                        v-bind:key="$index"
                        v-for="(branch, $index) in branches"
                            :master-sha="masterSha"
                            :is-master="defaultBranch === branch.name"
                            :branch="branch"
                            :commits="commits" />
                    </tbody>
                </table>


            </div>
        </div>

</template>

<script>
    import store from './../core/store';
    import Repo from "./incs/RepoDetails.vue";
    import BranchRow from "./incs/BranchRow.vue";

    export default {
        data(){
            return {
                branches: [],
                commits: [],
                repository: null,
                fetchingCommitsAndBranches: true,
                defaultBranch: 'master'
            }
        },
        components: {
            Repo,
            BranchRow
        },
        computed: {
            masterSha(){

                let vm = this,
                    master = vm.branches.filter((branch)=>{
                    return branch.name === vm.defaultBranch;
                });

                return master.length > 0 ? master[0].commit.sha : null;

            }
        },
        methods: {
            fetchBranchesAndCommits(){

                let vm = this;

                vm.fetchingCommitsAndBranches = true;

                vm.branches = [];
                vm.commits = [];

                Promise.all([
                    store.dispatch('getRepositoryBranches', {
                        user: vm.repository.owner.login,
                        repository: vm.repository.name
                    }),
                    store.dispatch('getCommits', {
                        user: vm.repository.owner.login,
                        repository: vm.repository.name
                    })
                ]).then((response) => {
                    vm.branches = response[0].data;
                    vm.commits = response[1].data;
                })
                    .catch((response) => {
                        store.dispatch('handleRouteError', response);
                    })
                    .then(() => {
                        vm.fetchingCommitsAndBranches = false;
                    });
            },
            getRepoProperty(name){
                if (this.repository !== null) {
                    return this.repository.hasOwnProperty(name) ? this.repository[name] : null;
                }
                return null;
            }
        },
        beforeRouteEnter (to, from, next) {


            store.dispatch('getRepository', {
                user: to.params.username,
                repository: to.params.repositoryName
            })
                .then((response) => {
                    next(function (vm) {
                        vm.repository = response.data;

                        vm.defaultBranch = vm.repository.hasOwnProperty('default_branch') ? vm.repository.default_branch : 'master';

                        vm.fetchBranchesAndCommits();
                    });
                })
                .catch((response) => {
                    store.dispatch('handleRouteError', response);
                });

        }
    }
</script>
